/* Base styles */
:root {
    --primary-color: #2c3e50;
    --secondary-color: #3498db;
    --background-color: #ecf0f1;
    --text-color: #333;
    --accent-color: #e74c3c;
    --font-primary: 'Montserrat', sans-serif; /* Fuente principal */
    --font-secondary: 'Open Sans', sans-serif; /* Fuente secundaria */
}

body {
    font-family: var(--font-secondary); /* Usar Open Sans como fuente predeterminada */
    color: var(--text-color);
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-primary); /* Usar Montserrat para encabezados */
    font-weight: 700; /* Montserrat en negrita para encabezados */
    color: var(--primary-color);
}

header {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    text-align: center;
    font-family: var(--font-primary); /* Montserrat para el encabezado */
}

header img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 3px solid var(--secondary-color);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: var(--primary-color);
    padding: 1rem;
    font-family: var(--font-primary); /* Montserrat para la navegación */
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0.5rem;
    display: block;
    text-align: center;
    transition: background-color 0.3s;
    font-weight: 600; /* Open Sans semi-negrita para enlaces */
}

nav a:hover {
    background-color: var(--secondary-color);
    border-radius: 4px;
}

main {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 1rem;
}

.card {
    background-color: white;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
}

.card h2 {
    color: var(--primary-color);
    margin-top: 0;
    font-family: var(--font-primary); /* Montserrat para títulos de tarjetas */
}

.card ul {
    list-style: none;
    padding: 0;
}

.card ul li {
    margin-bottom: 0.5rem;
    font-family: var(--font-secondary); /* Open Sans para elementos de lista */
}

.card ul li a {
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: 600; /* Open Sans semi-negrita para enlaces */
}

.card ul li a:hover {
    text-decoration: underline;
}

footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
    font-family: var(--font-secondary); /* Open Sans para el pie de página */
}

footer p {
    margin: 0.5rem 0;
}